@font-face {
           font-family: "Butler";
           src:url(fonts/Butler_Medium.otf); 
}

@font-face {
           font-family: "Butler_1";
           src:url(fonts/Butler_Medium_m1.otf); 
}

font1 {font-family: "Butler_1";}

@font-face {
           font-family: "Butler_2";
           src:url(fonts/Butler_Medium_m2.otf); 
}

font2 {font-family: "Butler_2";}

@font-face {
           font-family: "Butler_3";
           src:url(fonts/Butler_Medium_m3.otf); 
}

font3 {font-family: "Butler_3";}

@font-face {
           font-family: "Butler_4";
           src:url(fonts/Butler_Medium_m4.otf); 
}

font4 {font-family: "Butler_4";}