@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_1";
           src:url(Encode-Regular_m1.otf); 
}

font1 {font-family: "TheFontIsALie_1";}

@font-face {
           font-family: "TheFontIsALie_2";
           src:url(Encode-Regular_m2.otf); 
}

font2 {font-family: "TheFontIsALie_2";}

@font-face {
           font-family: "TheFontIsALie_3";
           src:url(Encode-Regular_m3.otf); 
}

font3 {font-family: "TheFontIsALie_3";}

@font-face {
           font-family: "TheFontIsALie_4";
           src:url(Encode-Regular_m4.otf); 
}

font4 {font-family: "TheFontIsALie_4";}

@font-face {
           font-family: "TheFontIsALie_5";
           src:url(Encode-Regular_m5.otf); 
}

font5 {font-family: "TheFontIsALie_5";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_6";
           src:url(Encode-Regular_m6.otf); 
}

font6 {font-family: "TheFontIsALie_6";}

@font-face {
           font-family: "TheFontIsALie_7";
           src:url(Encode-Regular_m7.otf); 
}

font7 {font-family: "TheFontIsALie_7";}

@font-face {
           font-family: "TheFontIsALie_8";
           src:url(Encode-Regular_m8.otf); 
}

font8 {font-family: "TheFontIsALie_8";}

@font-face {
           font-family: "TheFontIsALie_9";
           src:url(Encode-Regular_m9.otf); 
}

font9 {font-family: "TheFontIsALie_9";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_10";
           src:url(Encode-Regular_m10.otf); 
}

font10 {font-family: "TheFontIsALie_10";}

@font-face {
           font-family: "TheFontIsALie_11";
           src:url(Encode-Regular_m11.otf); 
}

font11 {font-family: "TheFontIsALie_11";}

@font-face {
           font-family: "TheFontIsALie_12";
           src:url(Encode-Regular_m12.otf); 
}

font12 {font-family: "TheFontIsALie_12";}

@font-face {
           font-family: "TheFontIsALie_13";
           src:url(Encode-Regular_m13.otf); 
}

font13 {font-family: "TheFontIsALie_13";}

@font-face {
           font-family: "TheFontIsALie_14";
           src:url(Encode-Regular_m14.otf); 
}

font14 {font-family: "TheFontIsALie_14";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_15";
           src:url(Encode-Regular_m15.otf); 
}

font15 {font-family: "TheFontIsALie_15";}

@font-face {
           font-family: "TheFontIsALie_16";
           src:url(Encode-Regular_m16.otf); 
}

font16 {font-family: "TheFontIsALie_16";}

@font-face {
           font-family: "TheFontIsALie_17";
           src:url(Encode-Regular_m17.otf); 
}

font17 {font-family: "TheFontIsALie_17";}

@font-face {
           font-family: "TheFontIsALie_18";
           src:url(Encode-Regular_m18.otf); 
}

font18 {font-family: "TheFontIsALie_18";}

@font-face {
           font-family: "TheFontIsALie_19";
           src:url(Encode-Regular_m19.otf); 
}

font19 {font-family: "TheFontIsALie_19";}

@font-face {
           font-family: "TheFontIsALie_20";
           src:url(Encode-Regular_m20.otf); 
}

font20 {font-family: "TheFontIsALie_20";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_21";
           src:url(Encode-Regular_m21.otf); 
}

font21 {font-family: "TheFontIsALie_21";}

@font-face {
           font-family: "TheFontIsALie_22";
           src:url(Encode-Regular_m22.otf); 
}

font22 {font-family: "TheFontIsALie_22";}

@font-face {
           font-family: "TheFontIsALie_23";
           src:url(Encode-Regular_m23.otf); 
}

font23 {font-family: "TheFontIsALie_23";}

@font-face {
           font-family: "TheFontIsALie_24";
           src:url(Encode-Regular_m24.otf); 
}

font24 {font-family: "TheFontIsALie_24";}

@font-face {
           font-family: "TheFontIsALie_25";
           src:url(Encode-Regular_m25.otf); 
}

font25 {font-family: "TheFontIsALie_25";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_26";
           src:url(Encode-Regular_m26.otf); 
}

font26 {font-family: "TheFontIsALie_26";}

@font-face {
           font-family: "TheFontIsALie_27";
           src:url(Encode-Regular_m27.otf); 
}

font27 {font-family: "TheFontIsALie_27";}

@font-face {
           font-family: "TheFontIsALie_28";
           src:url(Encode-Regular_m28.otf); 
}

font28 {font-family: "TheFontIsALie_28";}

@font-face {
           font-family: "TheFontIsALie_29";
           src:url(Encode-Regular_m29.otf); 
}

font29 {font-family: "TheFontIsALie_29";}

@font-face {
           font-family: "TheFontIsALie_30";
           src:url(Encode-Regular_m30.otf); 
}

font30 {font-family: "TheFontIsALie_30";}

@font-face {
           font-family: "TheFontIsALie_31";
           src:url(Encode-Regular_m31.otf); 
}

font31 {font-family: "TheFontIsALie_31";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_32";
           src:url(Encode-Regular_m32.otf); 
}

font32 {font-family: "TheFontIsALie_32";}

@font-face {
           font-family: "TheFontIsALie_33";
           src:url(Encode-Regular_m33.otf); 
}

font33 {font-family: "TheFontIsALie_33";}

@font-face {
           font-family: "TheFontIsALie_34";
           src:url(Encode-Regular_m34.otf); 
}

font34 {font-family: "TheFontIsALie_34";}

@font-face {
           font-family: "TheFontIsALie_35";
           src:url(Encode-Regular_m35.otf); 
}

font35 {font-family: "TheFontIsALie_35";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_36";
           src:url(Encode-Regular_m36.otf); 
}

font36 {font-family: "TheFontIsALie_36";}

@font-face {
           font-family: "TheFontIsALie_37";
           src:url(Encode-Regular_m37.otf); 
}

font37 {font-family: "TheFontIsALie_37";}

@font-face {
           font-family: "TheFontIsALie_38";
           src:url(Encode-Regular_m38.otf); 
}

font38 {font-family: "TheFontIsALie_38";}

@font-face {
           font-family: "TheFontIsALie_39";
           src:url(Encode-Regular_m39.otf); 
}

font39 {font-family: "TheFontIsALie_39";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_40";
           src:url(Encode-Regular_m40.otf); 
}

font40 {font-family: "TheFontIsALie_40";}

@font-face {
           font-family: "TheFontIsALie_41";
           src:url(Encode-Regular_m41.otf); 
}

font41 {font-family: "TheFontIsALie_41";}

@font-face {
           font-family: "TheFontIsALie_42";
           src:url(Encode-Regular_m42.otf); 
}

font42 {font-family: "TheFontIsALie_42";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Encode-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_43";
           src:url(Encode-Regular_m43.otf); 
}

font43 {font-family: "TheFontIsALie_43";}

@font-face {
           font-family: "TheFontIsALie_44";
           src:url(Encode-Regular_m44.otf); 
}

font44 {font-family: "TheFontIsALie_44";}

@font-face {
           font-family: "TheFontIsALie_45";
           src:url(Encode-Regular_m45.otf); 
}

font45 {font-family: "TheFontIsALie_45";}

@font-face {
           font-family: "TheFontIsALie_46";
           src:url(Encode-Regular_m46.otf); 
}

font46 {font-family: "TheFontIsALie_46";}
