@font-face {
           font-family: "TheFontIsALie";
           src:url(Bitter-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_1";
           src:url(Bitter-Regular_m1.otf); 
}

font1 {font-family: "TheFontIsALie_1";}

@font-face {
           font-family: "TheFontIsALie_2";
           src:url(Bitter-Regular_m2.otf); 
}

font2 {font-family: "TheFontIsALie_2";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Bitter-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_3";
           src:url(Bitter-Regular_m3.otf); 
}

font3 {font-family: "TheFontIsALie_3";}

@font-face {
           font-family: "TheFontIsALie_4";
           src:url(Bitter-Regular_m4.otf); 
}

font4 {font-family: "TheFontIsALie_4";}

@font-face {
           font-family: "TheFontIsALie_5";
           src:url(Bitter-Regular_m5.otf); 
}

font5 {font-family: "TheFontIsALie_5";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Bitter-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_6";
           src:url(Bitter-Regular_m6.otf); 
}

font6 {font-family: "TheFontIsALie_6";}

@font-face {
           font-family: "TheFontIsALie_7";
           src:url(Bitter-Regular_m7.otf); 
}

font7 {font-family: "TheFontIsALie_7";}
