@font-face {
           font-family: "MeatLoaf";
           src:url(../bradley_pro.otf); 
}
    

.background {
    background-image: linear-gradient(135deg, #D37A2F, #C31A2F);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    height: 100%;
}

div.abscenter {
    background-color:#222222;
    color:#FEFCFD;
    margin-bottom:0;
    padding-bottom:1em;
}

.modified {
    color:#8DC4C1;
    font-size:2.5vw;
}

textarea[type="text"] {
    margin-bottom:1.25em;
    color:#C31A2F;
}

.containerBox {
    position: relative;
    display: inline-block;
}
.text-box {
    position: absolute;    
    height: 100%;
    text-align: left;    
    width: 100%;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.titleh1 {
    font-family:"MeatLoaf";
    font-size:8vw;
    font-weight:normal;
    display:inline-block;
}

.titleh2 {
    font-family:"MeatLoaf";
    font-size:4vw;
    font-weight:normal;
    margin-top:0;
}
