@font-face {
           font-family: "MeatLoaf";
           src:url(../bradley_pro.otf); 
}
      
.titleh1 {
    font-family:"MeatLoaf";
    font-size:500%;
    font-weight:normal;
    line-height:0;
}

.titleh2 {
    font-family:"MeatLoaf";
    font-size:200%;
    font-weight:normal;
}

.background {
    background-image: linear-gradient(135deg, #983341, #E35A2C);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    height: 100%;
}

div.abscenter {
    background-color:#222222;
    color:#FEFCFD;
    margin-bottom:0;
    padding-bottom:1em;
}

.modified {
    color:#8DC4C1;
    font-size:150%;
}

textarea[type="text"] {
    margin-bottom:1.25em;
}
