body {
    background-color:#2980B9;
}

h1 {
    font-family:"TheFontIsALie";
    font-size:200%;
}

.modified{
    color:#E74C3C;
    
    margin-bottom:0em;
    margin-top:0em;
    font-weight:normal;
    padding:0;
}

div.abscenter {
    background-color:#ECF0F1;
    color:#2C3E50;

    padding-top:1em;
    padding-bottom:3em;
    
    padding-left:5%;
    padding-right:5%;

    margin:3em;
}


textarea[type="text"]:focus {
    outline: none;
}

textarea[type="text"] {
    color:#2C3E50;
    font-weight:inherit;
    
    display: block;
    margin-right:0;
    margin-left:0;
    margin-top:0em;
    
    width: 100%;
    font-family: "TheFontIsALie";
    font-size: inherit;      
    appearance: none;
    box-shadow: none;
    border-radius: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
  color:#ECF0F1;
  font-family: "TheFontIsALie";
}
.footer a:visited {
  color:inherit;
}
