@font-face {
           font-family: "TheFontIsALie";
           src:url(Butler_Medium.otf); 
}

@font-face {
           font-family: "TheFontIsALie_1";
           src:url(Butler_Medium_m1.otf); 
}

font1 {font-family: "TheFontIsALie_1";}

@font-face {
           font-family: "TheFontIsALie_2";
           src:url(Butler_Medium_m2.otf); 
}

font2 {font-family: "TheFontIsALie_2";}

@font-face {
           font-family: "TheFontIsALie_3";
           src:url(Butler_Medium_m3.otf); 
}

font3 {font-family: "TheFontIsALie_3";}

@font-face {
           font-family: "TheFontIsALie_4";
           src:url(Butler_Medium_m4.otf); 
}

font4 {font-family: "TheFontIsALie_4";}

@font-face {
           font-family: "TheFontIsALie_5";
           src:url(Butler_Medium_m5.otf); 
}

font5 {font-family: "TheFontIsALie_5";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Butler_Medium.otf); 
}

@font-face {
           font-family: "TheFontIsALie_6";
           src:url(Butler_Medium_m6.otf); 
}

font6 {font-family: "TheFontIsALie_6";}

@font-face {
           font-family: "TheFontIsALie_7";
           src:url(Butler_Medium_m7.otf); 
}

font7 {font-family: "TheFontIsALie_7";}

@font-face {
           font-family: "TheFontIsALie_8";
           src:url(Butler_Medium_m8.otf); 
}

font8 {font-family: "TheFontIsALie_8";}

@font-face {
           font-family: "TheFontIsALie_9";
           src:url(Butler_Medium_m9.otf); 
}

font9 {font-family: "TheFontIsALie_9";}

@font-face {
           font-family: "TheFontIsALie_10";
           src:url(Butler_Medium_m10.otf); 
}

font10 {font-family: "TheFontIsALie_10";}

@font-face {
           font-family: "TheFontIsALie_11";
           src:url(Butler_Medium_m11.otf); 
}

font11 {font-family: "TheFontIsALie_11";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Butler_Medium.otf); 
}

@font-face {
           font-family: "TheFontIsALie_12";
           src:url(Butler_Medium_m12.otf); 
}

font12 {font-family: "TheFontIsALie_12";}

@font-face {
           font-family: "TheFontIsALie_13";
           src:url(Butler_Medium_m13.otf); 
}

font13 {font-family: "TheFontIsALie_13";}

@font-face {
           font-family: "TheFontIsALie_14";
           src:url(Butler_Medium_m14.otf); 
}

font14 {font-family: "TheFontIsALie_14";}

@font-face {
           font-family: "TheFontIsALie_15";
           src:url(Butler_Medium_m15.otf); 
}

font15 {font-family: "TheFontIsALie_15";}

@font-face {
           font-family: "TheFontIsALie_16";
           src:url(Butler_Medium_m16.otf); 
}

font16 {font-family: "TheFontIsALie_16";}
