@font-face {
           font-family: "TheFontIsALie";
           src:url(Bitter-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_1";
           src:url(Bitter-Regular_m1.otf); 
}

font1 {font-family: "TheFontIsALie_1";}

@font-face {
           font-family: "TheFontIsALie_2";
           src:url(Bitter-Regular_m2.otf); 
}

font2 {font-family: "TheFontIsALie_2";}

@font-face {
           font-family: "TheFontIsALie_3";
           src:url(Bitter-Regular_m3.otf); 
}

font3 {font-family: "TheFontIsALie_3";}

@font-face {
           font-family: "TheFontIsALie_4";
           src:url(Bitter-Regular_m4.otf); 
}

font4 {font-family: "TheFontIsALie_4";}

@font-face {
           font-family: "TheFontIsALie_5";
           src:url(Bitter-Regular_m5.otf); 
}

font5 {font-family: "TheFontIsALie_5";}

@font-face {
           font-family: "TheFontIsALie_6";
           src:url(Bitter-Regular_m6.otf); 
}

font6 {font-family: "TheFontIsALie_6";}

@font-face {
           font-family: "TheFontIsALie_7";
           src:url(Bitter-Regular_m7.otf); 
}

font7 {font-family: "TheFontIsALie_7";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Bitter-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_8";
           src:url(Bitter-Regular_m8.otf); 
}

font8 {font-family: "TheFontIsALie_8";}

@font-face {
           font-family: "TheFontIsALie_9";
           src:url(Bitter-Regular_m9.otf); 
}

font9 {font-family: "TheFontIsALie_9";}

@font-face {
           font-family: "TheFontIsALie_10";
           src:url(Bitter-Regular_m10.otf); 
}

font10 {font-family: "TheFontIsALie_10";}

@font-face {
           font-family: "TheFontIsALie_11";
           src:url(Bitter-Regular_m11.otf); 
}

font11 {font-family: "TheFontIsALie_11";}

@font-face {
           font-family: "TheFontIsALie_12";
           src:url(Bitter-Regular_m12.otf); 
}

font12 {font-family: "TheFontIsALie_12";}

@font-face {
           font-family: "TheFontIsALie_13";
           src:url(Bitter-Regular_m13.otf); 
}

font13 {font-family: "TheFontIsALie_13";}

@font-face {
           font-family: "TheFontIsALie_14";
           src:url(Bitter-Regular_m14.otf); 
}

font14 {font-family: "TheFontIsALie_14";}
@font-face {
           font-family: "TheFontIsALie";
           src:url(Bitter-Regular.otf); 
}

@font-face {
           font-family: "TheFontIsALie_15";
           src:url(Bitter-Regular_m15.otf); 
}

font15 {font-family: "TheFontIsALie_15";}

@font-face {
           font-family: "TheFontIsALie_16";
           src:url(Bitter-Regular_m16.otf); 
}

font16 {font-family: "TheFontIsALie_16";}

@font-face {
           font-family: "TheFontIsALie_17";
           src:url(Bitter-Regular_m17.otf); 
}

font17 {font-family: "TheFontIsALie_17";}

@font-face {
           font-family: "TheFontIsALie_18";
           src:url(Bitter-Regular_m18.otf); 
}

font18 {font-family: "TheFontIsALie_18";}

@font-face {
           font-family: "TheFontIsALie_19";
           src:url(Bitter-Regular_m19.otf); 
}

font19 {font-family: "TheFontIsALie_19";}

@font-face {
           font-family: "TheFontIsALie_20";
           src:url(Bitter-Regular_m20.otf); 
}

font20 {font-family: "TheFontIsALie_20";}
