body {
    background-color:#FFEDA8;
}

h1 {
    font-family:"TheFontIsALie";
    font-size:350%;
}

.modified{
    color:#CD765B;
}

div.abscenter {
    background-color:#92D0C1;
    color:#307183;

    padding-top:1%;
    padding-bottom:1%;
    padding-left:5%;
    padding-right:5%;

    margin:5%;
    letter-spacing: 0px;
    word-spacing: -5px;
}


textarea[type="text"]:focus {
    outline: none;
}

textarea[type="text"] {
    color:#757575;
    font-weight:inherit;
    
    display: block;
    margin: 0;
    width: 100%;
    font-family: "TheFontIsALie";
    font-size: inherit;      
    appearance: none;
    box-shadow: none;
    border-radius: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
  font-family: "TheFontIsALie";
}