body {
    background-color:#FFEDA8;
}

div.abscenter {
    /*position:absolute;*/
    background-color:#92D0C1;
    color:#307183;

    padding-top:1%;
    padding-bottom:1%;
    padding-left:5%;
    padding-right:5%;

    margin:5%;
    letter-spacing: 0px;

    word-spacing: -5px;


    /*
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
*/
}
